@page
@model RazerPages.Pages.Employee.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Employee.Eid" />
            <div class="form-group">
                <label asp-for="Employee.Ename" class="control-label"></label>
                <input asp-for="Employee.Ename" class="form-control" />
                <span asp-validation-for="Employee.Ename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Egender" class="control-label"></label>
                <input asp-for="Employee.Egender" class="form-control" />
                <span asp-validation-for="Employee.Egender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Ephone" class="control-label"></label>
                <input asp-for="Employee.Ephone" class="form-control" />
                <span asp-validation-for="Employee.Ephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.Eaddress" class="control-label"></label>
                <input asp-for="Employee.Eaddress" class="form-control" />
                <span asp-validation-for="Employee.Eaddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
